.about__project,
.about__us,
.about__architecture,
.about__technologies {
  max-width: 1200px;
  padding: 0 2rem;
}

.h2 {
  text-align: center;
  font-family: var(--font-headings);
  color: var(--accent-alt);
  margin: 4rem auto;
}

.h3 {
  text-align: center;
  font-family: var(--font-headings);
  color: var(--accent-alt-dark);
  margin-bottom: 2rem;
}

.about__project {
  .intro {
    display: flex;
    align-items: stretch;
    margin: 3rem auto 6rem;

    .photo {
      img {
        height: 100%;
        object-fit: cover;
        flex: 1;
      }
    }

    .content {
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-weight: 400;
      color: var(--dark-alt);
      padding: 3rem;
      background: var(--neutral-min);
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  .funcionalidades {
    display: flex;
    gap: 4rem;

    & > div {
      flex-basis: 50%;
    }

    h3 {
      border-bottom: 2px solid var(--accent-alt-light);
    }

    ul {
      list-style-type: square;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      em {
        color: var(--accent-alt-dark);
      }
    }
  }
}

.about__us {
  .group__members {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4rem;
    row-gap: 3rem;
    max-width: 1200px;
    margin: 0 0 2rem;
    padding: 0;
  }

  .member__card {
    flex-basis: calc(50% - 2rem);
  }
}

.about__architecture {
  ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.about__technologies {
  .technologies__list {
    list-style-type: none;
    margin: 0 0 3rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & li {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      & i,
      .icon,
      .materialIcon {
        font-size: 5rem;
      }

      .materialIcon {
        color: var(--accent-alt);
      }

      & div {
        flex-basis: auto;

        strong {
          margin-right: 1rem;
          color: var(--accent-alt-dark);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about__project {
    .intro {
      flex-direction: column;

      .photo {
        width: 100%;
        height: 25rem;
        background: url('../../assets/about.jpg') bottom center no-repeat;
        background-size: cover;
        border-radius: 1.5rem 1.5rem 0 0;

        img {
          display: none;
        }
      }

      .content {
        flex-basis: 100%;
        padding: 2rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
        border-radius: 0 0 1.5rem 1.5rem;
      }
    }

    .funcionalidades {
      flex-direction: column;
    }
  }

  .about__us {
    .member__card {
      flex-basis: 100%;
      width: 100%;
    }
  }

  .about__technologies {
    .technologies__list {
      li {
        border-bottom: 1px solid var(--neutral-bg);
        padding-bottom: 2rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .about__project {
    .intro {
      .photo {
        flex-basis: 50%;
        position: relative;

        img {
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 10;
          background: linear-gradient(
            90deg,
            rgba(214, 219, 209, 0) 80%,
            rgb(214, 219, 209, 1) 100%
          );
        }
      }

      .content {
        flex-basis: 50%;
        padding: 2rem;
      }
    }
  }

  .about__technologies {
    .technologies__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }
  }
}

@media (min-width: 920px) {
  .about__technologies {
    .technologies__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    }
  }
}

@media (min-width: 1100px) {
  .about__project {
    .intro {
      .content {
        font-size: 1.8rem;
        line-height: 3rem;
      }
    }
  }
}
