/* MARTA TODO - Tener en cuenta para responsive:
en pantallas muy anchas el perfil podría llegar a ser un layout todo en columnas,
la primera el header y el resto después
*/

.header {
  display: flex;
  align-items: stretch;
  background-color: var(--neutral-bg);
  border-radius: 1.5rem;
  padding: 3rem;
  gap: 3rem;
  width: 100%;
}

.profile__photo {
  max-width: 200px;

  img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }
}

.profile__data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 1.5rem;

  h2 {
    font-size: 3.5rem;
    margin: 0;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0;
  }

  .profile__location {
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    gap: 0.6rem;
  }

  .profile__downloadCV {
    font-weight: 700;
    font-size: 1.6rem;
    width: 50%;
    max-width: 250px;
    text-decoration: none;
    text-align: center;
    color: var(--light);
    background-color: var(--accent);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 0;

    &:hover {
      background-color: var(--accent-dark);
    }
  }
}

.profile__details {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin: 4rem auto;

  & > div {
  }

  h3 {
    margin-bottom: 2rem;
    display: flex;
    gap: 0.6rem;
  }

  .profile__skills {
    width: 30%;
  }

  .profile__preferences {
    width: 40%;
  }

  .profile__availability {
    width: 30%;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
  }

  dt,
  dd {
    margin: 0;
    padding: 0;
  }

  dt:after {
    content: ': ';
  }

  .profile__preferences {
    dt {
      flex-basis: 50%;
      font-weight: bold;
    }

    dd {
      flex-basis: 50%;
    }
  }

  .profile__availability {
    dt {
      flex-basis: 70%;
      font-weight: bold;
    }

    dd {
      flex-basis: 30%;
    }
  }
}
