.main {
  background-color: var(--neutral-min);
  background: linear-gradient(
    180deg,
    rgba(214, 219, 209, 1) 75%,
    rgba(154, 163, 151, 0.8) 100%
  );
}

.latest {
  margin: 3rem auto 2rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 960px) {
  .latest {
    max-width: 1400px;
  }
}
