.footer {
  width: 100%;
  max-width: 100%;
  /* background-color: #0d3e40; */
  background-color: #12343f;
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 3rem 0;
  gap: 3rem;
  width: 100%;
  max-width: 1200px;
}

.content {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  li {
    padding-right: 1.5rem;
    height: 3.6rem;
    line-height: 3.6rem;
    vertical-align: middle;
    position: relative;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
  }

  a:link,
  a:visited {
    display: inline-flex;
    align-items: center;
    color: var(--accent-alt);
    font-weight: 600;
  }

  a:active,
  a:hover {
    display: inline-flex;
    align-items: center;
    color: var(--accent-alt-light);
    font-weight: 600;
  }
}

.icon {
  display: inline-block;
  font-size: 3.6rem;
}

.text {
  display: none;
}

@media (min-width: 540px) {
  .content {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  li::after {
    content: '/';
    position: absolute;
    right: 0;
  }

  li:first-child::after,
  li:last-child::after {
    content: '';
  }

  .icon {
    display: none;
  }

  .text {
    display: inline-block;
  }
}
