.header {
  width: 100dvw;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 1200px;
}

h1 a {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.25s ease-in;

  span {
    color: var(--accent-light);
  }

  .icon {
    width: 4rem;
    height: 4rem;
    fill: var(--accent-light);
  }

  &:hover {
    text-decoration: none;
    transform: scale(1.05);
  }
}

.nav {
  ul {
    display: flex;
    gap: 2rem;

    li {
      line-height: 3.5rem;
    }

    a {
      font-weight: 600;
      color: var(--neutral-light);
      border: 2px solid var(--neutral-light);
      padding: 0 1.5rem;
      border-radius: 1rem;
      display: inline-block;
      font-size: 1.6rem;
      line-height: 3.5rem;
      transition: transform 0.25s ease-in;

      &:hover {
        text-decoration: none;
        color: var(--accent-light);
        border: 2px solid var(--accent-light);
        transform: scale(1.05);
      }
    }

    button {
      font-weight: 600;
      background-color: var(--dark);
      color: var(--neutral-light);
      border: 2px solid var(--neutral-light);
      padding: 0 1.5rem;
      border-radius: 1rem;
      display: inline-block;
      font-size: 1.6rem;
      line-height: 3.5rem;
      transition: transform 0.25s ease-in;

      &:hover {
        text-decoration: none;
        background-color: var(--dark);
        color: var(--accent-light);
        border: 2px solid var(--accent-light);
        transform: scale(1.05);
      }
    }
  }
}

.languageSwitcher {
  display: flex;
  gap: 1rem;

  button {
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 700;
    background-color: var(--dark);
    color: var(--neutral-light);
    border: 0;
    outline: none;
    width: 3rem;
    border-radius: 0.5rem;

    &:hover {
      color: var(--light);
      cursor: pointer;
      text-decoration: underline;
    }

    &:disabled {
      background-color: var(--neutral-light);
      color: var(--dark);

      &:hover {
        cursor: default;
        text-decoration: none;
      }
    }
  }
}

.headerError {
  width: 100dvw;
  overflow: hidden;
}
