.header {
  width: 100%;
  max-width: 100%;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1rem;
  width: 100%;
  max-width: 1200px;
}

h1 {
  display: flex;
  align-items: center;

  a {
    display: inline-flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.25s ease-in;
    color: var(--neutral-min);

    span {
      font-family: var(--font-headings);
      font-weight: 700;
    }

    .logo {
      width: 4rem;
      height: 4rem;
      fill: var(--neutral-min);
    }

    &:hover {
      text-decoration: none;
      transform: scale(1.05);
    }
  }
}

.nav {
  .mainNav {
    display: flex;
    gap: 2rem;
    font-family: var(--font-secondary);

    li {
      line-height: 3.5rem;
    }

    .logout {
      display: flex;
      align-items: center;
      font-family: var(--font-secondary);
      color: var(--accent-light);

      & button:hover + span {
        color: var(--accent-alt-light);
      }
    }

    a {
      font-weight: 500;
      color: var(--accent-light);
      padding: 0 1.5rem;
      display: inline-block;
      font-size: 1.6rem;
      line-height: 3.5rem;
      text-transform: uppercase;
      transition: transform 0.25s ease-in;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 1.5rem;
        bottom: 0;
        width: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        text-decoration: none;
        color: var(--accent-alt-light);

        &::after {
          width: calc(100% - 3rem);
          border-bottom: 2px solid var(--accent-alt);
        }
      }
    }

    button {
      font-family: var(--font-secondary);
      font-weight: 500;
      color: var(--accent-light);
      background-color: var(--dark);
      padding: 0 1.5rem;
      border-radius: 1rem;
      display: inline-block;
      font-size: 1.6rem;
      line-height: 3.5rem;
      text-transform: uppercase;
      transition: transform 0.25s ease-in;
      position: relative;
      border: 0;

      &::after {
        content: '';
        position: absolute;
        left: 1.5rem;
        bottom: 0;
        width: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        text-decoration: none;
        color: var(--accent-alt-light);
        background-color: var(--dark);

        &::after {
          width: calc(100% - 3rem);
          border-bottom: 2px solid var(--accent-alt);
        }
      }
    }
  }

  @media (max-width: 768px) {
    .mainNav {
      display: none;
      position: fixed;
      top: 2%;
      right: 0%;
      background-color: var(--dark);
      border-radius: 5%;
      width: 225px;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1rem;
      z-index: 1000;
      max-height: 0;
      overflow: hidden; /* hidden the content out of the limit */
      transition: max-height 0.5s ease-in-out; /* transition */
    }

    &.open {
      display: flex;
      max-height: 500px;
    }
  }
}

.languageSwitcher {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 700;
    background-color: var(--dark);
    color: var(--neutral-light);
    border: 2px solid var(--neutral-light);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;

    &:hover {
      color: var(--accent-light);
      border: 2px solid var(--accent-light);
      cursor: pointer;
      text-decoration: none;
    }

    &:disabled {
      display: none;
    }
  }
}

.headerError {
  width: 100%;
  overflow: hidden;
  background-color: var(--error-bg);
  text-align: center;
  color: var(--error-text);
  font-weight: 500;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    position: absolute;
    top: 0;
    right: 1.5rem;
    height: 8.6rem;
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }

  /* Adjust the language selectors and the hamburger button*/
  .inner {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .languageSwitcher {
    display: flex;
    gap: 1rem;
    margin-right: 7rem;
  }

  .icon {
    font-size: 5rem; /* size */
    color: var(--accent-light);
  }

  .nav.open ul {
    display: flex;
    flex-direction: column;
    max-height: 500px;
  }
}

@media (min-width: 600px) {
  .header {
    justify-content: center;
  }
  .languageSwitcher {
    button {
      width: 3.8rem;
      border: 2px solid var(--dark);

      & > span.iconLang {
        display: none;
      }

      &:disabled {
        display: block;
        background-color: var(--dark);
        color: var(--neutral-min);
        border: 2px solid var(--neutral-min);

        &:hover {
          cursor: default;
          text-decoration: none;
          border: 2px solid var(--neutral-min);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .inner {
    padding: 1.8rem 2rem;
  }
}
