.header {
  width: 100%;
  max-width: 100%;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1rem;
  width: 100%;
  max-width: 1200px;
}

h1 a {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.25s ease-in;
  color: var(--neutral-min);

  span {
    font-family: var(--font-headings);
    font-weight: 700;
  }

  .icon {
    width: 4rem;
    height: 4rem;
    fill: var(--neutral-min);
  }

  &:hover {
    text-decoration: none;
    transform: scale(1.05);
  }
}

/* h1 {
  width: 15rem;
  height: 5rem;
  background: url('../../assets/noBgWhite.png') center center no-repeat;
  background-size: contain;
  z-index: 100;
} */

.nav {
  ul {
    display: flex;
    gap: 2rem;
    font-family: var(--font-secondary);

    li {
      line-height: 3.5rem;
    }

    .logout {
      display: flex;
      align-items: center;
      font-family: var(--font-secondary);
      color: var(--accent-light);

      &:hover span {
        color: var(--accent-alt-light);
      }
    }

    a {
      font-weight: 500;
      color: var(--accent-light);
      padding: 0 1.5rem;
      border-radius: 1rem;
      display: inline-block;
      font-size: 1.6rem;
      line-height: 3.5rem;
      text-transform: uppercase;
      transition: transform 0.25s ease-in;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 1.5rem;
        bottom: 0;
        width: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        text-decoration: none;
        color: var(--accent-alt-light);

        &::after {
          width: calc(100% - 3rem);
          border-bottom: 2px solid var(--accent-alt);
        }
      }
    }

    button {
      font-family: var(--font-secondary);
      font-weight: 500;
      color: var(--accent-light);
      background-color: var(--dark);
      padding: 0 1.5rem;
      border-radius: 1rem;
      display: inline-block;
      font-size: 1.6rem;
      line-height: 3.5rem;
      text-transform: uppercase;
      transition: transform 0.25s ease-in;
      position: relative;
      border: 0;

      &::after {
        content: '';
        position: absolute;
        left: 1.5rem;
        bottom: 0;
        width: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        text-decoration: none;
        color: var(--accent-alt-light);
        background-color: var(--dark);

        &::after {
          width: calc(100% - 3rem);
          border-bottom: 2px solid var(--accent-alt);
        }
      }
    }
  }

  /* BALIZA */
  @media (max-width: 768px) {
    display: none;
    ul {
      flex-direction: column;
      gap: 0.2rem;
    }

    &.open {
      display: flex;
      max-height: 300px;
      transition: max-height 1s ease-in-out;
    }
  }
}

.languageSwitcher {
  display: flex;
  gap: 1rem;

  button {
    font-size: 1.3rem;
    line-height: 2.5rem;
    font-weight: 700;
    background-color: var(--dark);
    color: var(--neutral);
    border: 2px solid var(--neutral);
    outline: none;
    width: 3rem;
    border-radius: 0.5rem;

    &:hover {
      color: var(--accent-light);
      border: 2px solid var(--accent-light);
      cursor: pointer;
      text-decoration: none;
    }

    &:disabled {
      background-color: var(--dark);
      color: var(--neutral-min);
      border: 2px solid var(--neutral-min);

      &:hover {
        cursor: default;
        text-decoration: none;
        border: 2px solid var(--neutral-min);
      }
    }
  }
}

.headerError {
  width: 100%;
  overflow: hidden;
}

.hamburger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger .material-symbols-outlined {
  font-size: 4.5rem; /* Tamaño del ícono */
  color: var(--accent-light);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    color: var(--accent-light);
  }

  .nav.open ul {
    display: flex;
    flex-direction: column;
  }
}
