.layout {
  width: 100%;
  max-width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.layout_main {
  width: 100%;
  max-width: 1200px; /* Constrain to 1200px max */
  padding: 3rem 0;
  margin: 0 auto;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
}

h2 {
  margin-bottom: 1.5rem;
}
