h2:has(span.iconSmall),
h3:has(span.iconSmall),
p:has(span.iconSmall),
li:has(span.iconSmall) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.offerArticle {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.offerHeader {
  width: 100%;
  height: 12rem;
  background:
    linear-gradient(to right, rgba(28, 32, 33, 0.7), rgba(28, 32, 33, 0.1)),
    url('../../assets/headerOffers.jpg') bottom center no-repeat;
  background-size: cover;
  color: var(--light);
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1rem;

  h2 {
    margin: 0;
    font-size: 2.6rem;
  }

  a:link,
  a:visited {
    color: var(--accent-light);
  }
  a:hover,
  a:active {
    color: var(--accent-alt-light);
  }
}

.offerContent {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.offerDetails {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  li {
    font-weight: 500;
    padding: 0.5rem;
    background-color: color-mix(in srgb, var(--accent-alt) 25%, transparent);
    color: var(--accent-alt-dark);
    border-radius: 0.5rem;
  }
}

.offerDescription {
  .numVacantes {
    font-weight: 600;
    font-size: 120%;
  }
}

.offerOptions:not(:empty) {
  margin: 2rem 0 0 0;
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .offerDetails {
    ul {
      gap: 0.5rem;
      margin-bottom: 2rem;
    }
  }
}

@media (767px < width < 959px) {
  .offerDetails {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 960px) {
  .offerContent {
    flex-direction: row;
    gap: 4rem;
  }

  .offerDetails {
    flex-basis: 30%;
  }

  .offerDescription {
    flex-basis: 70%;
  }
}

@media (max-width: 1199px) {
  .offerArticle {
    padding: 0 2rem;
  }
}
