.h3 {
  color: var(--accent-light);
}

/* COMPANY INFO */
.container {
  position: relative;
  border-radius: 1.5rem;
  background-color: var(--neutral-bg);
  display: flex;

  & > * {
    display: flex;
    flex-direction: column;
  }
}

.profile__photo {
  margin: 0 auto;

  img {
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
}

h2 {
  margin: 2rem auto;
}

span {
  font-weight: bold;
}

ul {
  list-style-type: disclosure-closed;
  padding-left: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 1rem auto;
}

/* SEARCH FORM ETC container */
.offersResults {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
    padding: 2rem;
  }

  .profile__photo,
  .profile__photo img {
    max-width: 300px;
  }
  .offersResults {
    width: 100%;
  }
}

@media (641px < width < 800px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
  }
  .info__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h2 {
      margin: 1rem auto 0;
      padding: 0;
    }
  }

  .profile__photo,
  .profile__photo img {
    max-width: 200px;
  }
  .buttons {
    flex-basis: 100%;
  }
  .offersResults {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 300px;
    height: auto;
  }

  .profile__photo,
  .profile__photo img {
    max-width: 180px;
  }

  .profile__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .buttons {
    align-self: stretch;
  }
}
