/* src/components/Notification.module.css */
.notification {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
  max-width: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in;

  .icon {
    position: absolute;
    right: 1rem;
  }
}

.notification:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.success {
  background-color: var(--success-bg);
  color: var(--success-text);
}

.error {
  background-color: var(--error-bg);
  color: var(--error-text);
}
