.listings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 100%;
  padding: 2rem 2rem 4rem;
}

@media only screen and (min-width: 1280px) {
  .homePage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;

    max-width: 1400px;
  }
}
