.listings {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 0 4rem;

  .listingsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .homePage.listings {
    padding: 2rem 2rem 4rem;
  }
  .homePage .listingsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;

    max-width: 1400px;
  }
}
